<h1><%= @restaurant.name %></h1>
<h2>Details</h2>
<ul>
  <li>Phone number:<%= @restaurant.phone_number %></li>
  <li>Address: <%= @restaurant.address %></li>
  <li>Category: <%= @restaurant.category %></li>

</ul>



<h2>Reviews</h2>
<% if @reviews.exists? %>
<ul>

    <% @reviews.each do |review| %>
    <li>Rating: <%= review.rating %> User said: <%= review.content %></li>
    </li>
    <% end %>
</ul>
<%else  %>
  <p>No reviews available</p>
<% end %>

<%= link_to 'Back', restaurants_path %> |
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant) %>
